* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-background-colour: #1b1c1e;
  --dark-text-colour: #e4e3e1;

  color: var(--dark-text-colour);
  background-color: var(--dark-background-colour);
  font-family: "Helvetica", "Arial", "sans-serif";
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-background-colour);
    background-color: var(--dark-text-colour);
  }
}

.Home {
  height: 100vh;
  max-width: 80rem;
  margin: auto;
  padding: 0 2rem 0 2rem;
  display: grid;
  place-items: center;
}

.Home_title {
  font-size: clamp(
    2.565784513950348rem,
    calc(
      2.565784513950348rem +
        (
          (4.478975999999999 - 2.565784513950348) *
            ((100vw - 20rem) / (96 - 20))
        )
    ),
    4.478975999999999rem
  );

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .Home_title {
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
